.search-container
  margin-bottom: 5px
  float: right

.button-container
  margin-left: 5px

input.search-input
  line-height: 1.5
  padding: 3px
  margin-top: 1px
  font-size: 16px

.recipes-found
  margin-right: 15px
  font-size: 18px
  font-weight: 600
  color: green
  display: inline-block